::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #ffecf1;
}

::-webkit-scrollbar-thumb {
  background: #f67196;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d3416a;
}



.brand-name {
  font-family: 'Pacifico', cursive;
  margin-left: 20px;
  border: none;
  transition: transform .2s;
}

.brand-name:hover {
  transform: scale(1.02);
}

.nav-link {
  color: #d3416a;
  transition: transform .2s;
}


.nav-link:hover {
  color: #f67196;
  transform: scale(1.1);
}


.poster-bottom {
  display: block;
  margin: auto;
  width: 30vw;
}

.center-cont {
  display: flex;
  align-content: center;
  margin-top: 100px;
}

h2 {
  color: #d3416a;
}

hr {
  margin: 100px;
}

.svg-top {
  /* background-image: linear-gradient(#fddce5, #f67196); */
  background-color: #fddce5;
  margin: 0 0 60px 0;
}

.svg-bottom {
  /* background-image: linear-gradient(#f67196, #fddce5); */
  background-color: #fddce5;
  margin: 60px 0 0 0;
}

.container-colored {
  background-color: #fddce5;
  margin: 0;
  padding: 0;
}

.container-colored>p{
  margin: 0;
  padding: 0 80px;
  display: block;
}

.container-border {
  border: #f67196 solid 20px;
  padding: 60px;
  margin: 100px auto;
}

.box {
  display: inline-block;
  /* color: black; */
}

p {
  margin-top: 30px;
}

.stylized-p {
  font-style:italic;
  font-size: large;
  /* color: #d3416a; */
}

a,b {
  color: #d3416a;
}

a:hover {
  color: #f67196;
}


@media only screen and (max-width: 760px) {
  .poster-bottom {
    width: 60vw;
  }
}

@media only screen and (max-width: 500px) {
  .poster-bottom {
    width: 90vw;
  }
}
